@import "tailwindcss";
 body {
  background-color: rgb(238, 250, 239);
 }

.toggle-checkbox {
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: #ccc;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-checkbox:checked {
  background-color: #10b981;
}

.toggle-checkbox::before {
  content: "";
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s ease;
}

.toggle-checkbox:checked::before {
  transform: translateX(20px);
}


button {
  cursor: pointer;
}

@keyframes enter {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes leave {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-10px); }
}

.animate-enter {
  animation: enter 0.25s ease-out forwards;
}

.animate-leave {
  animation: leave 0.25s ease-in forwards;
}
